body{
    background-color: rgb(252, 250, 251);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
    margin: 0px;
}

nav{
    background-color: black;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 20px;
}
nav a{
    color: rgb(247, 196, 206);
    text-decoration: none;
    font-size: 20px;
}

footer{
    background-color: black;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 1px;
}


form{
    margin:auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 245, 245);
    box-shadow: 10px 10px rgb(129, 22, 76);
    padding:20px;
    color: rgb(92, 84, 84);
}

fieldset{
    display: flex;
    border: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold;
    gap: 20px;
}

.field input{
    height: 30px;
    width: 80%;
}

.field select{
    height: 30px;
    width: 40%;
    font-size: 20px;
}

button{
    color: white;
    background-color: rgb(129, 22, 76);
    border-radius: 10px;
    height: 40px;
    width: 100px;
}